In [24]:
import pandas as pd 
import numpy as np 
import json
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [2]:
def save_json(data, filename):
    """
    Write a Python object to a JSON file.
    
    Args:
        data: The Python object to be serialized and written to the file.
        filename (str): The name of the JSON file where the data will be saved.
        
    Returns:
        None
    """
    with open(filename, 'w') as json_file:
        json.dump(data, json_file, indent=4)

In [3]:

def read_csv_to_dataframe(file_path):
    try:
        # Read the CSV file into a Pandas DataFrame
        dataframe = pd.read_csv(file_path)
        dataframe.fillna(method='bfill', inplace=True)
        return dataframe
    except FileNotFoundError:
        print(f"File not found: {file_path}")
        return None
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return None

In [4]:
patients_df = read_csv_to_dataframe("data/patients.csv")
# prescriptions_df = read_csv_to_dataframe("data/prescriptions.csv")
inputevents_df = read_csv_to_dataframe("data/inputevents.csv")
# procedureevents_df = read_csv_to_dataframe("data/procedureevents.csv")
# d_icd_diagnoses_df = read_csv_to_dataframe("data/d_icd_diagnoses.csv")
# triage_df = read_csv_to_dataframe("data/triage.csv")
vitalsign_df = read_csv_to_dataframe("data/vitalsign.csv")

/var/folders/rl/fmlvy3bj3b15n9nltj9m084c0000gn/T/ipykernel_1693/440882446.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe.fillna(method='bfill', inplace=True)
/var/folders/rl/fmlvy3bj3b15n9nltj9m084c0000gn/T/ipykernel_1693/440882446.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe.fillna(method='bfill', inplace=True)
/var/folders/rl/fmlvy3bj3b15n9nltj9m084c0000gn/T/ipykernel_1693/440882446.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe.fillna(method='bfill', inplace=True)

In [5]:
inputevents_df

,subject_id,hadm_id,stay_id,caregiver_id,starttime,endtime,storetime,itemid,amount,amountuom,...,ordercomponenttypedescription,ordercategorydescription,patientweight,totalamount,totalamountuom,isopenbag,continueinnextdept,statusdescription,originalamount,originalrate
0,10000032,29079034,39553978,66056,2180-07-23 21:10:00,2180-07-23 21:11:00,2180-07-23 21:10:00,226452,100.000000,ml,...,Main order parameter,Bolus,39.4,100.0,ml,0,0,FinishedRunning,100.0,100.00000
1,10000032,29079034,39553978,88981,2180-07-23 17:00:00,2180-07-23 17:01:00,2180-07-23 18:56:00,226452,200.000000,ml,...,Main order parameter,Bolus,39.4,200.0,ml,0,0,FinishedRunning,200.0,200.00000
2,10000032,29079034,39553978,88981,2180-07-23 17:00:00,2180-07-23 17:30:00,2180-07-23 17:02:00,220862,49.999999,ml,...,Main order parameter,Continuous IV,39.4,50.0,ml,0,0,FinishedRunning,50.0,100.00000
3,10000032,29079034,39553978,88981,2180-07-23 17:33:00,2180-07-23 18:03:00,2180-07-23 18:16:00,220862,49.999999,ml,...,Main order parameter,Continuous IV,39.4,50.0,ml,0,0,FinishedRunning,50.0,100.00000
4,10000032,29079034,39553978,88981,2180-07-23 18:56:00,2180-07-23 18:57:00,2180-07-23 18:56:00,226452,100.000000,ml,...,Main order parameter,Bolus,39.4,100.0,ml,0,0,FinishedRunning,100.0,100.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8978888,19999987,23865745,36195440,90295,2145-11-02 23:28:00,2145-11-03 09:32:00,2145-11-02 23:28:00,225942,0.755000,mg,...,Main order parameter,Continuous Med,60.0,50.0,ml,0,0,Paused,2.5,75.00000
8978889,19999987,23865745,36195440,90295,2145-11-02 23:28:00,2145-11-03 09:32:00,2145-11-02 23:28:00,225943,15.100000,ml,...,Mixed solution,Continuous Med,60.0,50.0,ml,0,0,Paused,50.0,1.50000
8978890,19999987,23865745,36195440,90295,2145-11-02 23:38:00,2145-11-03 12:55:00,2145-11-03 14:29:00,225158,1000.000037,ml,...,Main order parameter,Continuous IV,60.0,1000.0,ml,0,0,FinishedRunning,1000.0,75.28231
8978891,19999987,23865745,36195440,91879,2145-11-04 20:35:00,2145-11-04 20:36:00,2145-11-04 20:35:00,226452,200.000000,ml,...,Main order parameter,Bolus,94.0,200.0,ml,0,0,FinishedRunning,200.0,200.00000
8978892,19999987,23865745,36195440,91879,2145-11-04 20:47:00,2145-11-04 20:54:00,2145-11-04 20:48:00,226089,1.200000,ml,...,Main order parameter,Continuous IV,94.0,1.2,ml,0,0,FinishedRunning,1.2,10.00000

In [6]:
data_pv = pd.merge(patients_df, vitalsign_df, on='subject_id', how='inner')

In [7]:
data_pv

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
0,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 16:36:00,98.4,83.0,24.0,97.0,90.0,51.0,Sinus Bradycardia,0
1,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 16:43:00,98.4,85.0,22.0,98.0,76.0,39.0,Sinus Bradycardia,0
2,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 16:45:00,98.4,84.0,22.0,97.0,75.0,39.0,Sinus Bradycardia,0
3,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 17:56:00,98.4,84.0,20.0,99.0,86.0,51.0,Sinus Bradycardia,0
4,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 18:37:00,98.4,86.0,20.0,98.0,65.0,37.0,Sinus Bradycardia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564605,19999828,F,46,2147,2017 - 2019,2164-09-17,32917002,2149-01-08 17:10:00,98.1,109.0,15.0,96.0,111.0,78.0,Sinus Tachycardia,0
1564606,19999914,F,49,2158,2017 - 2019,NaN,32002659,2158-12-24 11:43:00,99.5,81.0,10.0,100.0,93.0,55.0,Sinus Tachycardia,0
1564607,19999987,F,57,2145,2011 - 2013,NaN,34731548,2145-11-02 19:40:00,99.3,112.0,18.0,NaN,118.0,83.0,Sinus Tachycardia,unable
1564608,19999987,F,57,2145,2011 - 2013,NaN,34731548,2145-11-02 20:11:00,99.3,111.0,18.0,NaN,123.0,82.0,Sinus Tachycardia,unable
1564609,19999987,F,57,2145,2011 - 2013,NaN,34731548,2145-11-02 21:51:00,99.3,103.0,20.0,NaN,113.0,79.0,Sinus Tachycardia,unable

In [8]:
patients_df

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000048,F,23,2126,2008 - 2010,2161-02-13
2,10000068,F,19,2160,2008 - 2010,2161-02-13
3,10000084,M,72,2160,2017 - 2019,2161-02-13
4,10000102,F,27,2136,2008 - 2010,2187-11-12
...,...,...,...,...,...,...
299707,19999828,F,46,2147,2017 - 2019,2164-09-17
299708,19999829,F,28,2186,2008 - 2010,2164-09-17
299709,19999840,M,58,2164,2008 - 2010,2164-09-17
299710,19999914,F,49,2158,2017 - 2019,NaN
299711,19999987,F,57,2145,2011 - 2013,NaN

In [20]:
unique_rhythms = data_pv['rhythm'].unique()
n_rhythms = len(unique_rhythms)
rhythms_mapping = {k:v for k,v in zip(unique_rhythms, range(n_rhythms))}
def map_rhythm(r): 
    return rhythms_mapping[r]

In [21]:
features = ["gender", "anchor_age", "temperature", "heartrate", "resprate", "o2sat", "sbp", "dbp", "rhythm"]

def construct_M(df):
    M = []
    for _, row in df.iterrows():
        r = []
        for feature in features:
            if feature == "gender":
                r.append(0 if row[feature] == "M" else 1)
            elif feature == "rhythm": 
                r.append(map_rhythm(row[feature]))
            else:
                r.append(row[feature])
        M.append(r)
    
    save_json(M, "data/process/M.json")
    return np.array(M)

In [22]:
M = construct_M(data_pv)

In [23]:
M

array([[  1. ,  52. ,  98.4, ...,  90. ,  51. ,   0. ],
       [  1. ,  52. ,  98.4, ...,  76. ,  39. ,   0. ],
       [  1. ,  52. ,  98.4, ...,  75. ,  39. ,   0. ],
       ...,
       [  1. ,  57. ,  99.3, ..., 118. ,  83. ,   4. ],
       [  1. ,  57. ,  99.3, ..., 123. ,  82. ,   4. ],
       [  1. ,  57. ,  99.3, ..., 113. ,  79. ,   4. ]])

In [ ]:
def discretize_S(M, n_clusters=100, random_state=42): 
    """
    M: matrix representation of data 

    returns a model that takes in a feature set D -> state s from 0 to K - 1
    where K is the number of clusters 
    """

    # instantiate model and fit data
    kmeans = KMeans(n_clusters=n_clusters, random_state=random_state).fit(M)

    # return model 
    return kmeans