In [1]:
from utils import * 
from process import *

In [2]:
patients_df = read_csv_to_dataframe("data/patients.csv")
inputevents_df = read_csv_to_dataframe("data/inputevents.csv")
vitalsign_df = read_csv_to_dataframe("data/vitalsign.csv")
outputevents_df = read_csv_to_dataframe("data/outputevents.csv")
d_items_df = read_csv_to_dataframe("data/d_items.csv")

In [8]:
outputs = pd.merge(outputevents_df, d_items_df, on="itemid")

In [12]:
outputs['label']

0                   Void
1                   Void
2                   Void
3                   Void
4                   Void
               ...
4234962    Chest Tube #4
4234963    Chest Tube #4
4234964    Chest Tube #4
4234965    Chest Tube #4
4234966    Chest Tube #4
Name: label, Length: 4234967, dtype: object

In [7]:
d_items_df

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220001,Problem List,Problem List,chartevents,General,bpm,Text,90.0,140.0
1,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,bpm,Date and time,90.0,140.0
2,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,90.0,140.0
3,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,90.0,140.0
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,90.0,140.0
...,...,...,...,...,...,...,...,...,...
4009,230077,Documented on DC Summary (PICC),Documented on DC Summary (PICC),chartevents,PICC Line Insertion,NaN,Text,NaN,NaN
4010,230078,Documented on DC Summary (Thora),Documented on DC Summary (Thora),chartevents,Thoracentesis,NaN,Text,NaN,NaN
4011,230083,Replacement Fluid (Pre-Filter),Replacement Fluid (Pre-Filter),chartevents,Dialysis,NaN,Text,NaN,NaN
4012,230084,Replacement Fluid (Post-Filter),Replacement Fluid (Post-Filter),chartevents,Dialysis,NaN,Text,NaN,NaN
4013,230085,Dialysate Fluid,Dialysate Fluid,chartevents,Dialysis,NaN,Text,NaN,NaN

In [22]:
d = d_items_df[d_items_df['linksto'] == "outputevents"]

In [23]:
d

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
717,224458,Drain Output_ingr,Drain Output_ingr,outputevents,Drains,mL,Ingredient,299.0,750.0
1875,226557,R Ureteral Stent,R Ureteral Stent,outputevents,Output,mL,Numeric,0.0,8.0
1876,226558,L Ureteral Stent,L Ureteral Stent,outputevents,Output,mL,Numeric,0.0,8.0
1877,226559,Foley,Foley,outputevents,Output,mL,Numeric,0.0,8.0
1878,226560,Void,Void,outputevents,Output,mL,Numeric,0.0,8.0
...,...,...,...,...,...,...,...,...,...
2245,227511,TF Residual Output,TF Residual Output,outputevents,Output,mL,Numeric,4.0,8.0
2390,227701,Drainage Bag,Drainage Bag,outputevents,Drains,mL,Numeric,4.0,20.0
2653,228103,Stool containment device placed,Stool containment device placed,outputevents,Output,cm,Date and time,4.0,20.0
3595,229413,Chest Tube #3,Chest Tube #3,outputevents,Output,mL,Numeric,4.0,20.0
3596,229414,Chest Tube #4,Chest Tube #4,outputevents,Output,mL,Numeric,4.0,20.0

In [3]:
data_pv = pd.merge(patients_df, vitalsign_df, on='subject_id', how='inner')

In [4]:
data_pv

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
0,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 16:36:00,98.4,83.0,24.0,97.0,90.0,51.0,Sinus Bradycardia,0
1,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 16:43:00,98.4,85.0,22.0,98.0,76.0,39.0,Sinus Bradycardia,0
2,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 16:45:00,98.4,84.0,22.0,97.0,75.0,39.0,Sinus Bradycardia,0
3,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 17:56:00,98.4,84.0,20.0,99.0,86.0,51.0,Sinus Bradycardia,0
4,10000032,F,52,2180,2014 - 2016,2180-09-09,32952584,2180-07-22 18:37:00,98.4,86.0,20.0,98.0,65.0,37.0,Sinus Bradycardia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564605,19999828,F,46,2147,2017 - 2019,2164-09-17,32917002,2149-01-08 17:10:00,98.1,109.0,15.0,96.0,111.0,78.0,Sinus Tachycardia,0
1564606,19999914,F,49,2158,2017 - 2019,NaN,32002659,2158-12-24 11:43:00,99.5,81.0,10.0,100.0,93.0,55.0,Sinus Tachycardia,0
1564607,19999987,F,57,2145,2011 - 2013,NaN,34731548,2145-11-02 19:40:00,99.3,112.0,18.0,NaN,118.0,83.0,Sinus Tachycardia,unable
1564608,19999987,F,57,2145,2011 - 2013,NaN,34731548,2145-11-02 20:11:00,99.3,111.0,18.0,NaN,123.0,82.0,Sinus Tachycardia,unable
1564609,19999987,F,57,2145,2011 - 2013,NaN,34731548,2145-11-02 21:51:00,99.3,103.0,20.0,NaN,113.0,79.0,Sinus Tachycardia,unable

In [5]:
outputevents_df

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valueuom
0,10000032,29079034,39553978,88981,2180-07-23 15:00:00,2180-07-23 16:00:00,226560,175.0,ml
1,10000980,26913865,39765666,36518,2189-06-27 09:08:00,2189-06-27 09:08:00,226559,450.0,ml
2,10000980,26913865,39765666,36518,2189-06-27 09:08:00,2189-06-27 09:08:00,226633,400.0,ml
3,10000980,26913865,39765666,36518,2189-06-27 11:00:00,2189-06-27 10:51:00,226559,600.0,ml
4,10000980,26913865,39765666,36518,2189-06-27 13:00:00,2189-06-27 12:55:00,226559,800.0,ml
...,...,...,...,...,...,...,...,...,...
4234962,19999987,23865745,36195440,86756,2145-11-03 05:00:00,2145-11-03 05:48:00,226559,25.0,ml
4234963,19999987,23865745,36195440,86756,2145-11-03 05:48:00,2145-11-03 05:48:00,226576,300.0,ml
4234964,19999987,23865745,36195440,86756,2145-11-03 07:00:00,2145-11-03 07:00:00,226559,30.0,ml
4234965,19999987,23865745,36195440,90295,2145-11-02 23:25:00,2145-11-02 23:25:00,226627,200.0,ml
4234966,19999987,23865745,36195440,91879,2145-11-04 20:03:00,2145-11-04 20:03:00,226560,325.0,ml

In [17]:
data_pv = pd.merge(data_pv, outputevents_df, on="subject_id")

In [18]:
data_pv

Empty DataFrame
Columns: [gender, anchor_age, anchor_year, anchor_year_group, dod, stay_id_x, charttime_x, temperature, heartrate, resprate, o2sat, sbp, dbp, rhythm, pain, hadm_id_x, caregiver_id_x, storetime_x, itemid_x, value_x, valueuom_x, subject_id, hadm_id_y, stay_id_y, caregiver_id_y, charttime_y, storetime_y, itemid_y, value_y, valueuom_y]
Index: []

[0 rows x 30 columns]